### Dynamically generated stats for GitHub and Leetcode sites for README.md (In Progress)
	last automatic update: {{date}}
### TODO:
- More animated SVG elements
- A description of how can it configure

#### Leetcode Stats:

![chart-bar](/assets/leetcode-total-info-circle.svg)

#### GitHub Stats:

![chart-bar](/assets/github-languages-sledge.svg)

#### Github Stats:
	Total Repositories : {{github.totalRepositories}}
	Total Commits : {{github.totalCommits}}
	Closed Issues: {{github.closedIssues}}
	Contributions: {{github.contributions}}
	Total PullRequests: {{github.pullRequests}}
	Followers: {{github.followers}}

[![README build](https://github.com/meugenom/github-leetcode-stats/actions/workflows/main.yml/badge.svg)](https://github.com/meugenom/github-leetcode-stats/actions/workflows/main.yml)